.top-product-wrap{
  width: 100%;
  max-width: 1315px;
  margin: 0 auto;
  h2{
    text-align: center;
    margin-bottom: 15px;
  }
}
.all-products-list{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  .show-all-btn-wrap{
    width: 100%;
    .btn{
      width: 100%;
      background: #48a2ff;
      border: 1px solid #2d92fa;
      border-radius: 4px;
      font-size: 20px;
      color: #fff;
    }
  }
  .single-product{
    width: 25%;
    height: 500px;
    border: 1px solid $light-gray;
    background: $white;
    padding: 10px 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    .hide-list-wrap{
      display: none;
      position: absolute;
      top: 412px;
      left: -1px;
      width: calc(100% + 2px);
      height: auto;
      background: $white;
      padding: 0 25px;
      padding-bottom: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-bottom: 1px solid $light-gray;
      border-right: 1px solid $light-gray;
      border-left: 1px solid $light-gray;
      box-shadow: 0 8px 10px rgba(0,0,0,.15);
      .all-detail-list{
        height: auto!important;
      }
      .all-goods-btn{
        margin: 15px auto;
        .btn{
          width: 100%;
          background: #48a2ff;
          border: 1px solid #2d92fa;
          border-radius: 4px;
          font-size: 20px;
          color: #fff;
        }
      }
      .two-wrap{
        .left, .right{
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          i{
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-bottom: 5px;
          }
        }
        .left{
          border-right: 1px solid $light-gray;
          i{
            background: url("../img/products/eye.png") no-repeat center;
            -webkit-background-size: 25px;
            background-size: 25px;
          }
        }
        .right{
          i{
            background: url("../img/products/faworite.png") no-repeat center;
          }
        }
      }
    }
    &:hover{
      overflow: visible;
      & .hide-list-wrap{
        display: block;
        z-index: 5;
      }
      &:after{
        display: none;
      }
    }
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 15px;
      background: $white;
    }
    .img-wrap{
      width: 100%;
      height: 180px;
      text-align: center;
      line-height: 180px;
      margin-top: 50px;
      margin-bottom: 15px;
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
    .detail-wrap{
      border-bottom: 1px solid $light-gray;
      margin-bottom: 10px;
      .product-title{
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 15px;
        height: 60px;
        overflow: hidden;
      }
      .price{
        color: $green;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;
      }
    }
    .detail-prod-wrap{
      width: 100%;
      .feedback-wrap{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
      }
      .all-detail-list{
        height: 70px;
      }
      ul>li{
        font-size: 13px;
        margin-bottom: 5px;
      }
    }
  }
}

.popular-categories{
  width: 100%;
}
.all-populars-list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .single-popular-cat{
    height: 400px;
    position: relative;
    margin-bottom: 40px;
    .text-wrap{
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 20px 30px;
      font-size: 30px;
      line-height: 36px;
    }
    img{
      width: 100%;
      height: 400px;
    }
  }
  .single-popular-cat.size320{
    width: 320px;
  }
  .single-popular-cat.size600{
    width: 600px;
  }
  .single-popular-cat.size955{
    width: 955px;
  }
}