@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500&subset=cyrillic,cyrillic-ext');
//---- Общие стили ----------
body{
    margin: 0 auto;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background: #f5f7f8;
}
p,a,span{
    font-size: 15px;
    font-weight: 400;
    color: $gray-dark;
}
a{
    text-decoration: none;
}
input{
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 45px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
section{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 40px;
}
h2{
    font-size: 36px;
    font-weight: 500;
    color: $gray-dark;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    transition: background .5s ease-out;
    z-index: 0;
    &.show{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.7);
        transition: background .5s ease-out;
        z-index: 5;
    }
}
.btn{
    height: 45px;
    cursor: pointer;
}
.two-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .left,.right{
        width: 50%;
    }
}
ul{
    li{
        label{
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 15px;
            color: $gray-dark;
        }
        input[type="checkbox"] + label::before{
            content: "";
            display: inline-block;
            height: 17px;
            width: 17px;
            margin-right: 20px;
            background-image: url("../img/check-sprite.png");
            background-repeat: no-repeat;
        }
        input[type="checkbox"] + label:before {
            background-position: 0;
        }
        input[type="checkbox"]:checked + label:before {
            background-position: -18px 0;
        }
        input[type="checkbox"]:disabled + label:before {
            background-position: 0;
        }
        input[type="checkbox"]:checked{
            &:disabled + label:before{
                background-position: -18px 0;
            }
        }

        label{
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 15px;
            color: $gray-dark;
        }
        input[type="radio"], input[type="checkbox"]{
            display: none;
        }

        input[type="radio"] + label::before{
            content: "";
            display: inline-block;
            height: 17px;
            width: 17px;
            margin-right: 20px;
            background-image: url("../img/radio-sprite.png");
            background-repeat: no-repeat;
        }
        input[type="radio"] + label:before {
            background-position: 0;
        }
        input[type="radio"]:checked + label:before {
            background-position: -19px 0;
        }
        input[type="radio"]:disabled + label:before {
            background-position: 0;
        }
        input[type="radio"]:checked{
            &:disabled + label:before{
                background-position: -18px 0;
            }
        }
    }
}
.noselect-wrap{
    position: fixed;
    top: 25%;
    left: 50%;
    width: 600px;
    max-height: 300px;
    margin-left: -20%;
    background: #ffffff;
    z-index: 9;
    padding: 15px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .head{
        margin-bottom: 10px;
        h2{
            font-size: 25px;
            text-align: center;
            color: $gray-dark;
            margin-bottom: 10px;
        }
        p{
            font-size: 14px;
            text-align: center;
        }
    }
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        div{
            width: 100%;
            text-align: center;
        }
        select{
            width: 80%;
            height: 45px;
        }
    }
    .footer{
        text-align: center;
        .btn{
            background: $blue-btn;
            border: 1px solid $blue-btn-bd;
            padding: 0 25px;
            color: $white;
        }
    }
}
.shops-popup-wrap{
    position: fixed;
    top: 25%;
    left: 50%;
    width: 600px;
    height: 200px;
    margin-left: -15%;
    background: #ffffff;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .close{
        position: absolute;
        top: 15px;
        right: 10px;
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        &:before, &:after {
            position: absolute;
            left: 9px;
            content: ' ';
            height: 20px;
            width: 2px;
            background-color: $light-gray;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    h2{
        margin-bottom: 15px;
    }
    h2,p{
        text-align: center;
    }
}
.unauthorized-user-popup{
    position: fixed;
    top: 25%;
    background: #ffffff;
    z-index: 7;
    .head{
        line-height: 50px;
        position: relative;
        h2{
            text-align: center;
            font-size: 21px;
        }
        .close{
            position: absolute;
            display: inline-block;
            width: 20px;
            height: 20px;
            cursor: pointer;
            &:before, &:after {
                position: absolute;
                left: 9px;
                content: ' ';
                height: 20px;
                width: 2px;
                background-color: $light-gray;
            }
            &:before { transform: rotate(45deg); }
            &:after { transform: rotate(-45deg); }
        }
    }
    .main{
        display: flex;
        align-items: center;
        .btn{
            background: $blue-btn;
            border: 1px solid $blue-btn-bd;
            padding: 0 20px;
            text-align: center;
            line-height: 45px;
            font-size: 16px;
            color: $white;
        }
    }
}
.partners-egap-company .info-partners{
    display: flex;
    padding: 15px;
    border-radius: 6px;
    flex-direction: row;
    background: white;
    .desktop-banner-egap{ text-align: justify; }
    .logo_egap{
        text-align: center;
        display: block;
        width: auto;
        height: auto;
        img{ border-radius: 6px; }
        &:hover{ cursor: pointer; }
    }
    .mobile-banner-egap{ display: none; }
}
.pr-Egap{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 40px;
    .pr-egap-block{
        width: 100%;
        max-width: 1315px;
        margin: 0 auto;
        background-color: white;
        padding: 20px 0;
        .about-egap-challenge{
            font-size: 16px;
            line-height: 25px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 10px;
            word-wrap: break-word; /* Перенос слов */
            a{
                font-size: 16px;
                margin-bottom: 5px;
                line-height: 15px;
                font-weight: 500;
                color: #1dd659;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .partners-egap{
            display: flex;
            justify-content: space-around;
            a{
                img{
                    width: auto;
                    height: 70px;
                }
                .egaplogolittle{ display: none;}
                .egaplogobig{ display: block;}
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}
//большие экраны
@media screen and (min-width: 1024px){
    //body{ min-width: 1024px; }
    .unauthorized-user-popup{
        left: 50%;
        width: 600px;
        height: 140px;
        margin-left: -15%;
        .head{
            height: 50px;
            margin-bottom: 15px;
            .close{
                top: 15px;
                right: 10px;
            }
        }
        .main{
            justify-content: space-around;
        }
    }
}
@media screen and (max-width: 1315px) {
    .main-content{
        width: 100% !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px;
    }
}
//мобильные устройства
@media screen and (max-width:1023px){
    body{
        max-width: 1023px;
        -moz-box-sizing: border-box; /* Для Firefox */
        box-sizing: border-box;
    }
    .unauthorized-user-popup {
        left: 25%; //left: 50%;
        width: 50%; //width: 600px;
        height: 300px; //height: 140px;
        border-radius: 6px;
        margin: 0; //margin-left: -15%;
        .head {
            height: auto;   //height: 50px;
            margin: 20px; //margin-bottom: 15px;
            .close {
                top: 0; //top: 15px;
                right: 0; //right: 10px;
            }
        }
        .main {
            display: -webkit-box;
            flex-direction: column;
            -webkit-box-align: center;
            justify-content: space-between; //justify-content: space-around;
            width: 90%;
            margin: auto;
            .btn {
                background: #48a2ff; //$blue-btn;
                border: 1px solid #2d92fa; //$blue-btn-bd;
                width: 90%;
                margin-bottom: 10px;
                border-radius: 4px;
            }
        }
    }
    .top-product .top-product-wrap .all-products-list .single-product .detail-prod-wrap .feedback-wrap-480 .rating-wrap .star-rating .star-rating .rating-text[data-v-34cbeed1]{ display: none; }
}
//мобильные устройства
@media screen and (max-width:599px) {
    .unauthorized-user-popup {
        left: 5%;
        width: 90%;
    }
    .partners-egap-company .info-partners{
        .desktop-banner-egap{ display: none; }
        .logo_egap{ display: none; }
        .mobile-banner-egap{
            display: block;
            text-align: justify;
            width: auto;
            height: auto;
            font-size: 0.8em;
            a{
                color: #444444;
                font-size: 16px;
                font-weight: 400;
                line-height: 25px;
                text-shadow: 1px 1px 1px #cccccc, 0 0 1px lightgreen;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
  .pr-Egap .pr-egap-block .partners-egap {
    a{
          margin-top: 10px;
          .egaplogolittle{ display: block;}
          .egaplogobig{ display: none;}
    }
  }
}