#page-wrapper{
  padding-top: 40px;

  .add-new-product{
    margin-top: 30px;
  }
}
.form-control{
  border-color: #e8e8e8 !important;
}
.post-block, .currency-block, .load-file-block, .props-block, .btn-bock, .btn-lg-block{
  padding-left: 0;
}
.btn{
  width: 270px;
  height: 46px;
  font-size: 15px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  color: #FFF;
  text-decoration: none;
  background-color: #4caf50;
  vertical-align: middle;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    transition:all 0.1s;
    background-color: #4caf50;
    opacity:1;
    border: none;
  }
}
.cancel-btn{
  background: #f96262;
  &:hover {
    background-color: #f96262;
  }
}
.send-btn{
  background:  #4caf50;
  &:focus, &:hover{
    color:#fff;
  }
}

.nav-tabs .product-add {
  color: #fff;
  width: 165px;
  background-color: #6164c1;
  //border-bottom: 5px solid #5454a6;
  text-shadow: 0px -2px #5454a6;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    transition:all 0.1s;
  }
}
.title{
  font-size: 28px;
}

.mini-title{
  font-style: italic;
  font-weight: 400;
}
.head-param-title, .param-block{
  margin-bottom: 15px;
  width: 50%;
}
.load-file-block{
  margin-bottom: 50px;
  margin-top: 10px;
}
.description-form{
  margin-bottom: 20px;
}
.description-block{
  margin-top: 10px;
}
.add-btn-span{
  padding-left: 5px;
}
.load-btn{
  margin-top: 10px;
}
.after-load-hr{
}
.props-block{
  margin-bottom: 10px;
}
.product-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 85%;
}

.product-table td, .product-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.product-table tr:nth-child(even){background-color: #fff;}

.product-table tr:hover {background-color: #ddd;}

.product-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}