#page-wrapper{
  padding-top: 40px;
  .add-new-product{
    margin-top: 30px;
  }
}
.form-control{  border-color: #e8e8e8 !important;}
.post-block .col-lg-3{  padding-left: 0;}
.post-block, .currency-block, .load-file-block, .props-block, .btn-bock, .btn-lg-block{  padding-left: 0;}
.cancel-btn, .btn-danger {
  width: 270px;
  height: 46px;
  font-size: 15px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  color: #FFF;
  text-decoration: none;
  background: #a5a5a5;
  border: none;
  &:hover, &:active, .btn-danger:active:hover{
    background-color: #888888!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    transition:all 0.1s;
    opacity:1;
    border: none!important;
  }
}
.send-btn{
  width: 270px;
  height: 46px;
  font-size: 15px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  color: #FFF;
  text-decoration: none;
  background-color: #6164c1;
  &:focus, &:hover{
    color:#fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    transition:all 0.1s;
    opacity:1;
    border: none;
    background-color: #6c6cd1;
  }
}
.nav-tabs .product-add {
  color: #fff;
  width: 165px;
  background-color: #6164c1;
  //border-bottom: 5px solid #5454a6;
  text-shadow: 0px -2px #5454a6;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    transition:all 0.1s;
  }
}
.title{  font-size: 28px;}
.mini-title{
  font-style: italic;
  font-weight: 400;
}
.head-param-title, .param-block{
  margin-bottom: 15px;
  width: 50%;
}
.load-file-block{
  margin-bottom: 50px;
  margin-top: 10px;
}
.description-form{  margin-bottom: 20px;}
.description-block{  margin-top: 10px;}
.add-btn-span{  padding-left: 5px;}
.load-btn{  margin-top: 10px;}
.props-block{  margin-bottom: 10px;}
.product-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 85%;
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;    
  }
  tr{
    &:nth-child(even){background-color: #fff;}
    &:hover {background-color: #ddd;}
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type="file"] {  display: none;}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.shop-box{
  width:150px;
  display:inline-block;
  border: 1px black;
  margin: 0px;
  margin-left: 15px;
}
#shop-button {
  height: 45px;
  display: inline-block;
  color: #fff;
  width: 100%;
  background-color: #6164c1;
  border-bottom: 5px solid #5454a6;
  text-shadow: 0px -2px #5454a6;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.1s;
  }
}
.table.product-table th{  background-color: #7477DB;}
.add-new-product {  
  margin-bottom: 10px;
  a{
    height: 45px;
    display: inline-block;
    color: #fff;
    width: 85%;
    background-color: #6164c1;
    border-bottom: 3px solid #5454a6;
    text-shadow: 0px -2px #5454a6;
    text-align: center;
    padding-top: 10px;
    &:hover {
      background-color: #6669c9;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
      transition: all 0.1s;
    }
  }
}
.btn-block{  padding:0;}


.add-param-btn, .add-prop-btn{
  width: 200px;
  margin-bottom: 20px;
  text-align: left;
}

.param-name, .parametr{
  width: 200px;
  border: 1px solid;
}